<app-header title="Login"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>
      <!-- Email -->
      <app-custom-input icon="person-outline"
                        autocomplete="nomusu"
                        [control]="form.controls.nomusu"
                        type="text"
                        label="Usuario"
      ></app-custom-input>
      <div class="validators" *ngIf="form.controls.nomusu.errors && !form.controls.nomusu.untouched">
        <div *ngIf="form.controls.nomusu.errors?.['required']">El usuario es requerido</div>
      </div>
      <!-- Password -->
      <app-custom-input icon="lock-closed-outline"
                        [control]="form.controls.clave"
                        autocomplete="password"
                        type="password"
                        label="Contraseña"
      ></app-custom-input>
      <div class="validators" *ngIf="form.controls.clave.errors && !form.controls.clave.untouched">
        <div *ngIf="form.controls.clave.errors?.['required']">La contraseña es requerida</div>
      </div>
      <p class="ion-text-end" routerLink="forgot-password">¿Olvidaste tu contraseña?</p>
      <ion-button expand="block" class="submit" type="submit" [disabled]="form.invalid">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button class="ion-margin-top" routerLink="sign-up" expand="block" type="button" fill="outline">
        Registrate
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
