<ion-menu contentId="menu-content" menuId="menu-content" side="start">
  <app-header title="Menú"></app-header>
  <ion-content class="ion-text-center">
    <ion-avatar>
      <img *ngIf="user()?.image" [src]="user()?.image" alt="">
      <ion-icon *ngIf="!user()?.image" class="empty-icon" name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <h4>{{user()?.name}}</h4>
    <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
      <ion-item [ngClass]="{active : currentPath === p.url}" [routerLink]="p.url" router-direction="root" detail>
        <ion-label>{{p.title}}</ion-label>
        <ion-icon slot="start" [name]="p.icon"></ion-icon>
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
  <ion-footer>
    <ion-menu-toggle auto-hide="false" class="ion-no-border safe-p-bottom">
      <ion-item lines="none" (click)="signOut()">
        <ion-label>Cerrar sesión</ion-label>
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
      </ion-item>
    </ion-menu-toggle>
  </ion-footer>
</ion-menu>
<ion-router-outlet id="menu-content" main></ion-router-outlet>
